/* Common and Shared styles */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.container{
  max-width: 1280px;
  margin: auto;
}
.btn{
  background-color:#DD0000 ;
  padding: 15px 25px;
  border-radius: 10px;
  font-weight: 600;
  color: white;
  border: none;
}
img{
  max-width: 100%;
}

/* Banner design */
.banner{
  display: flex;
  color: rgb(255, 255, 255);
  background-color:#161616 ;
  align-items: center;
  margin: 50px auto;
  border-radius: 15px;
}
.banner-left{
  padding-left: 45px;
  flex: 1;
}
.banner h2{
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
}
.banner p{
  color: white;
  font-size: 15px;
  margin: 15px 0;
  max-width: 65%;
}
.banner-right{
  flex: 1;
}
.banner-right img{
  display: block;
}