* {
    box-sizing: border-box;
    padding: 0;
    margin:0 ;
    font-family: poppins;
}

/* Shared style */
.btn-primary{
    background-color: #DD0000;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    border: none;
}
.btn-white{
    background-color: rgb(255, 255, 255);
    padding: 10px 15px;
    border-radius: 5px;
}
.container{
    background-color: black;
    margin-bottom: 20px;
}

.banner{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 0px 15px;

}

.upcoming-matches{
    display: flex;
    /* justify-content: space-around; */
    padding: 50px;
    gap: 20px;
}
.upcoming-matches-left{
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 5px;
    width: 25%;
    border-radius: 10px;
}
.upcoming-matches-right{
    /* background-color: rgb(215, 109, 109); */
    flex: 1;
}